<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kezdőlap</title>
    <link rel="stylesheet" href="../static/mainStyle.css" type="text/css">
</head>
<body>
    <h1>Hotline App</h1>
    <br></br>
   
    <div class="buttons-cont">
        <a href="regPage.html"><button id="toRegPage">Hívás rögzítése</button></a>
        <a href="tablePage.html"><button id="toTablePage">Táblázat mutatása</button></a>
    </div>
    
</body>
</html>