<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kezdőlap</title>
    <link th:href="@{/css/mainStyle.css}" href="../static/css/mainStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Hotline App</h1>
    <br></br>
   
    <div class="buttons-cont">
        <a href="http://localhost:8080/register"><button id="toRegPage">Hívás rögzítése</button></a>
        <a href="http://localhost:8080/calldata"><button id="toTablePage">Táblázat mutatása</button></a>
    </div>
    <br></br>
    <div>

        <img src="../static/images/schrank.jpeg" alt="background" class="backgp">

    </div>
    
</body>
</html>