<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adatok rögzítése</title>
    <link th:href="@{/css/regStyle.css}" href="../static/css/regStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Hívásadatok rögzítése</h1>
    <br></br>
    
    <form action=""  method="post" onsubmit="return validateForm()" name="regForm">
    <div>
        <label for="openedFrom">Jegyet nyitotta:</label><input type="text"  name="openedFrom" id="opened-from">
    </div>
    <br></br>
    <div>
        <label for="technicianName">Techniker:</label><input type="text"  name="technicianName" id="technician-name" >
    </div>
    <br></br>
    <div>
        <label for="localizationNumber">Standort oder VPSZ Nummer 49/:</label><input type="text"  name="localizationNumber" id="vpsz-number">
    </div>
    <br></br>
    <div>
        <button type="button" onclick="replaceSlash()">Icinga</button>
        <label for="icinga-number">Icinga:</label><input type="text" name="icinga-number" id="icinga-number">
        <script>
            function replaceSlash() {
                var localizationNumber = document.getElementById("vpsz-number").value;
                var replacedText = localizationNumber.replace(/\//g, "-");
                document.getElementById("icinga-number").value = "-"+replacedText+"-";
            }
        </script>
    </div>
    <br></br>
    <div>
        <label for="phoneNumber">Telefonnummer:</label><input type="text" name="phoneNumber" id="phone-number" >
    </div>
    <br></br>
    <div>
        <label>Linie:</label>
        <select for="lineNumber" name="lineNumber"  id="line-number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select>
    </div>
    <br></br>
    <div>
        <label for="sdNumber">SD Nummer:</label><input type="number" name="sdNumber" id="sd-number">
    </div>
    <br></br>
    <div>
        <label for="closedFrom">Jegyet zárta:</label><input type="text" name="closedFrom" id="closed-from">
    </div>
    <br></br>
    <div>
        <label for="isClosed">Visszatelefonált már?</label>
        <input type="checkbox" name="isClosed" id="isClosed" th:checked="${isClosed}">
    </div>
    <br></br>
    <button type="submit" id="save">Mentés táblázatba</button>
    </form>
    <script>
        function validateForm() {
        var opener = document.forms["regForm"]["openedFrom"].value;
        var technician = document.forms["regForm"]["technicianName"].value;
        var localNr = document.forms["regForm"]["localizationNumber"].value;
        var phoneNr = document.forms["regForm"]["phoneNumber"].value;
        var sdNr = document.forms["regForm"]["sdNumber"].value;
        var closener = document.forms["regForm"]["closedFrom"].value;

        if (opener == "" || technician == "" || localNr == "" || phoneNr == "" || sdNr == "" || closener == "") {
        alert("Az összes mező kitöltése kötelező!");
        return false;
            }
        }
    </script>
</body>
</html>