<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hívások adatai</title>
    <link th:href="@{/css/tableStyle.css}" href="../static/css/tableStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Hívások listája</h1>
    <br></br>
    <div>
        <table>
            <tr>
                <th>Dátum:</th>
                <th>Jegyszám:</th>
                <th>Jegyet nyitotta:</th>
                <th>Technikus neve:</th>
                <th>Telefonszáma:</th>
                <th>Standort:</th>
                <th>Linie:</th>
                <th>Jegyet zárta:</th>
            </tr>
            <tr th:each="data : ${data_item}">
                <td th:text="${data.date}"></td>
                <td th:text="${data.sdNumber}"></td>
                <td th:text="${data.openedFrom}"></td>
                <td th:text="${data.technicianName}"></td>
                <td th:text="${data.phoneNumber}"></td>
                <td th:text="${data.localizationNumber}"></td>
                <td th:text="${data.lineNumber}"></td>
                <td th:text="${data.closedFrom}"></td>
                <td><input type="checkbox" name="selectedData" value="${data.id}"></td>
            </tr>
        </table>
        <button type="submit">Kijelölt sor módosítása</button> <button type="submit">Kijelölt sor törlése</button>
    </div>
</body>
</html>